version: '3'
services:
  registry-docker:
    image: registry:2@sha256:ac0192b549007e22998eb74e8d8488dcfe70f1489520c3b144a6047ac5efbe90
    volumes:
      - ./data:/var/lib/registry
    ports:
      - "5000:5000"
    environment:
      REGISTRY_PROXY_REMOTEURL: https://registry-1.docker.io
    restart: always
  registry-quay:
    image: registry:2@sha256:ac0192b549007e22998eb74e8d8488dcfe70f1489520c3b144a6047ac5efbe90
    volumes:
      - ./data:/var/lib/registry
    ports:
      - "5001:5000"
    environment:
      REGISTRY_PROXY_REMOTEURL: https://quay.io
    restart: always
  registry-ghcr:
    image: registry:2@sha256:ac0192b549007e22998eb74e8d8488dcfe70f1489520c3b144a6047ac5efbe90
    volumes:
      - ./data:/var/lib/registry
    ports:
      - "5002:5000"
    environment:
      REGISTRY_PROXY_REMOTEURL: https://ghcr.io
    restart: always
  registry-gcr:
    image: registry:2@sha256:ac0192b549007e22998eb74e8d8488dcfe70f1489520c3b144a6047ac5efbe90
    volumes:
      - ./data:/var/lib/registry
    ports:
      - "5003:5000"
    environment:
      REGISTRY_PROXY_REMOTEURL: https://gcr.io
    restart: always
  registry-aws:
    image: registry:2@sha256:ac0192b549007e22998eb74e8d8488dcfe70f1489520c3b144a6047ac5efbe90
    volumes:
      - ./data:/var/lib/registry
    ports:
      - "5004:5000"
    environment:
      REGISTRY_PROXY_REMOTEURL: https://public.ecr.aws
    restart: always
  registry-mcr:
    image: registry:2@sha256:ac0192b549007e22998eb74e8d8488dcfe70f1489520c3b144a6047ac5efbe90
    volumes:
      - ./data:/var/lib/registry
    ports:
      - "5005:5000"
    environment:
      REGISTRY_PROXY_REMOTEURL: https://mcr.microsoft.com
    restart: always
  registry-gitlab:
    image: registry:2@sha256:ac0192b549007e22998eb74e8d8488dcfe70f1489520c3b144a6047ac5efbe90
    volumes:
      - ./data:/var/lib/registry
    ports:
      - "5006:5000"
    environment:
      REGISTRY_PROXY_REMOTEURL: https://registry.gitlab.com
    restart: always


#https://distribution.github.io/distribution/recipes/mirror/
#https://distribution.github.io/distribution/recipes/mirror/#configure-the-cache
#https://distribution.github.io/distribution/about/deploying/#customize-the-storage-location
